/*
 NOTE!
 This is an EDITED VERSION, with all unused tags removed for uber-performance.
*/

html, body, body div, span, h1, h2, h3, h4, h5, h6, p, img, strong, ul, li, section {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */

section {display: block;}

/* Responsive images and other embedded objects
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
   If this default setting for images is causing issues, you might want to replace it with a .responsive class instead. */
img {max-width: 100%;}

/* force a vertical scrollbar to prevent a jumpy page */
html {overflow-y: scroll;}

/* we use a lot of ULs that aren't bulleted.
    don't forget to restore the bullets within content. */
ul {list-style: none;}

a {margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent;}