$colour-bg: #8597a3;
$colour-accent: #2B516A;

@mixin about-block ($vertical-padding: 0) {
	display: inline-block;
	background: $colour-bg;
	color: #FFF;
	padding: $vertical-padding 10px;
	clear: left;
	float: left;
}

html {
	font-size: 62.5%;
}
body {
	font: 1.8rem normal 'Crete Round';
	padding: 1000px 0 0 0;
	background: $colour-bg;
}

// Panel
#about {
	position: fixed;
	left: 50px;
	top: 50px;
	.hi {
		font-size: 7rem;
		@include about-block();
	}
	h1 {
		font-size: 7rem;
		font-weight: 400;
		@include about-block();
	}
	.roles {
		@include about-block(20px);
		li {
			display: inline;
			font-size: 1.8rem;
			&:after {
				content: " / ";
			}
			&:last-child:after {
				content: "";
			}
		}
	}
	.social {
		$icon-width: 42px;
		$icon-margin: 10px;
		$icon-count: 4;

		@include about-block(10px);
		padding-left: 0;
		li {
			float: left;
			margin: 0 0 0 ($icon-margin * 2);
			&:first-child {
				margin-left: $icon-margin;
			}
			a {
				text-indent: -9995px;
				overflow: hidden;
				background: transparent image-url('social.png') 0 0 no-repeat;
				display: block;
				width: $icon-width;
				height: $icon-width;
				opacity: 0.5;
				&:hover {
					opacity: 1;
				}
			}
			&.twitter a {
				background-position: 0 0;
			}
			&.instagram a {
				background-position: -42px 0;
			}
			&.linkedin a {
				background-position: -84px 0;
			}
			&.vimeo a {
				background-position: -126px 0;
			}
			&.untappd a {
				background-position: -168px 0;
			}
		}
	}
}

.photo {
	height: 1000px;
	background-position: center center;
	background-size: cover; 
}
#darkhedges {
	background-image: image-url('darkhedges.jpg');
}
#beningbrough {
	background-image: image-url('beningbrough.jpg');
}
#tuscany {
	background-image: image-url('tuscany.jpg');
}
