/*
================================================================================

PHOTOS ONLY

================================================================================
*/

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex-direction($direction) {
  @if $direction == column {
    -webkit-flex-direction:vertical;
    -moz-flex-direction:vertical;
    -ms-flex-direction:column;
    -webkit-flex-direction:column;
    flex-direction:column;
  }
  @else {
    -webkit-flex-direction:horizontal;
    -moz-flex-direction:horizontal;
    -ms-flex-direction:row;
    -webkit-flex-direction:row;
    flex-direction:row;
  }
}

@mixin justify-content($value) {
  -moz-justify-content: $value;
  -ms-justify-content: $value;
  -webkit-justify-content: $value;
  justify-content: $value;
}

.section--photo {
  position: relative;
  background-position: left center;
  background-size: cover;
  background-repeat: no-repeat;
}

.photo-caption {
  display: none;
}

.photo-title {
  $size: 225px;
  background: rgba(85,85,85, 0.8);
  color: #FFF;
  padding: 0.2em;
  font-size: 3rem;
  font-weight: 900;
  float: left;
  text-align: left;
  position: absolute;
  top: 10%;
  right: 10%;
  width: $size;
  height: $size;
  border-radius: $size;
  text-align: center;
  // Flex box
  @include flexbox();
  @include flex-direction(column);
  @include justify-content(center);
}

.photo-title__loc {
  font-weight: 400;
  font-size: 0.6em;
}

@media only screen and (min-width: 700px) {
  .photo-caption {
    display: block;
  }
}

.section--croc {
  background-image: url(/img/photos/croc.jpg);
}

.section--darkhedges {
  background-image: url(/img/photos/darkhedges.jpg);
  background-position: center center;
  .photo-title {
    top: auto;
    right: auto;
    bottom: 10%;
    left: 10%;
  }
}

.section--giraffe {
  background-image: url(/img/photos/giraffe.jpg);
}
