<section class="section section--about">
  <p class="hi">Hi!</p>
  <h1>I'm Stuart Moffatt</h1>
  <ul class="roles roles--work">
    <li>UX</li>
    <li>Web development</li>
  </ul>
  <ul class="roles roles--play">
    <li>B&amp;W photography</li>
    <li>Fancy beer</li>
  </ul>
  <ul class="social">
    <li class="twitter"><a href="http://twitter.com/stumoff" title="Twitter">Twitter</i></a></li>
    <li class="instagram"><a href="http://instagram.com/stumoff" title="Instagram">Instagram</i></a></li>
    <li class="linkedin"><a href="http://uk.linkedin.com/in/stuartmoffatt" title="LinkedIn">LinkedIn</a></li>
  <!--   <li class="vimeo"><a href="https://vimeo.com/user22796343" title="Vimeo">Vimeo</a></li> -->
    <li class="untappd"><a href="http://untappd.com/user/StuMoff" title="Untappd">Untappd</a></li>
  </ul>
</section>

<section class="section section--photo section--croc">
  <h2 class="photo-title">
    Crocodile tail
    <span class="photo-title__loc">
      iSimangaliso
    </span>
  </h2>
</section>

<section class="section section--photo section--darkhedges">
  <h2 class="photo-title">
    Dark hedges
    <span class="photo-title__loc">
      Northern Ireland
    </span>
  </h2>
</section>

<section class="section section--photo section--giraffe">
  <h2 class="photo-title">
    Giraffe
    <span class="photo-title__loc">
      Spioenkop
    </span>
  </h2>
</section>
