<!DOCTYPE html>
<html>
<head>
<title>Stuart Moffatt</title>
<link href='http://fonts.googleapis.com/css?family=Crete+Round' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="css/reset.css" type="text/css" />
<link rel="stylesheet" href="css/site.css" type="text/css" />
</head>

<body>

<section id="home">
	<h1>
		<span>Hi!</span>
		I'm Stuart Moffatt
	</h1>
	<ul class="roles">
		<li>UX</li>
		<li>Developer</li>
		<li>Photographer</li>
		<li>Beer snob</li>
	</ul>
	<ul class="social">
		<li class="twitter"><a href="http://twitter.com/stumoff" title="Twitter">Twitter</i></a></li>
		<li class="instagram"><a href="http://instagram.com/stumoff" title="Instagram">Instagram</i></a></li>
		<li class="linkedin"><a href="http://uk.linkedin.com/in/stuartmoffatt" title="LinkedIn">LinkedIn</a></li>
	<!-- 	<li class="vimeo"><a href="https://vimeo.com/user22796343" title="Vimeo">Vimeo</a></li> -->
		<li class="untappd"><a href="http://untappd.com/user/StuMoff" title="Untappd">Untappd</a></li>
	</ul>
</section>
</body>
</html>