<section id="about">
	<p class="hi">Hi!</p>
	<h1>I'm Stuart Moffatt</h1>
	<ul class="roles">
		<li>UX</li>
		<li>Developer</li>
		<li>B&amp;W Photographer</li>
		<li>Beer Snob</li>
	</ul>
	<ul class="social">
		<li class="twitter"><a href="http://twitter.com/stumoff" title="Twitter">Twitter</i></a></li>
		<li class="instagram"><a href="http://instagram.com/stumoff" title="Instagram">Instagram</i></a></li>
		<li class="linkedin"><a href="http://uk.linkedin.com/in/stuartmoffatt" title="LinkedIn">LinkedIn</a></li>
	<!-- 	<li class="vimeo"><a href="https://vimeo.com/user22796343" title="Vimeo">Vimeo</a></li> -->
		<li class="untappd"><a href="http://untappd.com/user/StuMoff" title="Untappd">Untappd</a></li>
	</ul>
</section>

<section id="darkhedges" class="photo">
</section>
<section id="beningbrough" class="photo">
</section>
<section id="tuscany" class="photo">
</section>